[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/IndentAnything"]
	path = .vim/bundle/IndentAnything
	url = http://github.com/vim-scripts/IndentAnything.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule ".vim/bundle/ruby-matchit"]
	path = .vim/bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/GoldenView"]
	path = .vim/bundle/GoldenView
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-autocomplpop"]
	path = .vim/bundle/vim-autocomplpop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/splice"]
	path = .vim/bundle/splice
	url = https://github.com/sjl/splice.vim
[submodule ".vim/bundle/lightline"]
	path = .vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-colors-solarized.vim"]
	path = .vim/bundle/vim-colors-solarized.vim
	url = https://github.com/altercation/vim-colors-solarized.git
